@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);

#header1-73 .btn {
  font-size: 20px;
  font-family: 'Oxygen', sans-serif;
}
#header1-73 H1 {
  font-family: 'Oxygen', sans-serif;
}
#header1-73 P {
  font-family: 'Oxygen', sans-serif;
}
#menu-74 .mbr-brand__name {
  font-size: 16px;
}
#menu-74 .mbr-brand__name a {
  font-size: 24px;
  font-family: 'Oxygen', sans-serif;
}
#menu-74 .mbr-navbar__items a {
  font-family: 'Oxygen', sans-serif;
}
#features1-75 P {
  text-align: center;
}
